.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.img {
    width: 300px;
    height: 300px;
    margin-top: 100px;
}

.textoFrase {
    font-style: italic;
    color: #dd7b22;
    text-align: center;
    font-weight: bold;
    margin-top: 2.5rem;
}

.botao {
    background-color: #dd7b22;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1rem;
    border: none;
    padding: 0.35rem 1rem;
}

.botao:hover {
    cursor: pointer;
}